<h1>HW3 Migration</h1>
<% @users.each do |u| %>
	<p> <%= u.username %> </p>
	<p> <%= u.email %> </p>
	<p> <%= u.age %> </p>
<% end %>

<% @cats.each do |c| %>
	<p> <%= c.name %> </p>
<% end %>

<% @todos.each do |t| %>
	<p> <%= t.name %> </p>
<% end %>